In [1]:
import pandas as pd

In [2]:
amount_of_wastes = pd.read_csv("https://raw.githubusercontent.com/hasanbarisgok/DataScience/main/opensource-datas/ibb_ilcelere_gore_atik_miktari.csv", header=0)
df = amount_of_wastes

In [3]:
df.head()

,İlçe,Tıbbi Atık Miktarı,2004,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Adalar,Miktar (ton),0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,3,5,3,3
1,Arnavutköy,Miktar (ton),32,46,54,63,70,NaN,7,23,...,50,69,93,102,107,129,127,170,78,153
2,Ataşehir,Miktar (ton),317,382,365,444,471,NaN,267,135.84,...,175,541.93,947,871,928,899,947,954,"1,272","1,351"
3,Avcılar,Miktar (ton),124,162,182,206,202,219,236,207.76,...,258,302.88,368,356,347,328,379,406,172,368
4,Bahçelievler,Miktar (ton),303,324,380,505,666,695,722,733.1,...,"1,090",1052.07,"1,089",591,579,"1,180","1,250","1,313",728,"1,791"

In [4]:
df.describe().T

                   count unique           top freq
İlçe                  39     39        Adalar    1
Tıbbi Atık Miktarı    39      1  Miktar (ton)   39
2004                  39     30             0    9
2005                  39     37             0    3
2006                  39     35             0    2
2007                  39     36             0    2
2008                  39     36             0    2
2009                  35     30             0    5
2010                  38     34             0    4
2011                  39     36             0    4
2012                  39     37             0    3
2013                  39     37             0    2
2014                  39     38             0    2
2015                  39     39             0    1
2016                  39     39             0    1
2017                  39     39             1    1
2018                  39     39             2    1
2019                  39     39             3    1
2020                  39     39             5    1
2021                  39     39             3    1
2022                  39     37         1,791    2

In [5]:
#Is the dataset has any NaN value?
df.isnull().values.any()

True

In [6]:
#NaN values count in the dataset 
df.isna().sum().sum()

5

In [7]:
#Check NaN values with isnull() function. True = NaN Value, False = Is Not Nan Value
df.isnull()

,İlçe,Tıbbi Atık Miktarı,2004,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
#Giving value for NaNs. All NaN values will be `0` (zero).
df = df.fillna(0)

In [9]:
#Is the dataset has any NaN value?
df.isnull().values.any()

False

In [10]:
#The first five elements from the dataset.
df.head()

,İlçe,Tıbbi Atık Miktarı,2004,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Adalar,Miktar (ton),0,0,0,0,0,0,0,0,...,0,0,0,0,1,2,3,5,3,3
1,Arnavutköy,Miktar (ton),32,46,54,63,70,0,7,23,...,50,69,93,102,107,129,127,170,78,153
2,Ataşehir,Miktar (ton),317,382,365,444,471,0,267,135.84,...,175,541.93,947,871,928,899,947,954,"1,272","1,351"
3,Avcılar,Miktar (ton),124,162,182,206,202,219,236,207.76,...,258,302.88,368,356,347,328,379,406,172,368
4,Bahçelievler,Miktar (ton),303,324,380,505,666,695,722,733.1,...,"1,090",1052.07,"1,089",591,579,"1,180","1,250","1,313",728,"1,791"

In [11]:
#Removing `Tibbi Atik Miktari` column. We have to give value 1 to axis. `Axis = 1 for Columns, Axis = 0 for Rows`
df = df.drop("Tıbbi Atık Miktarı", axis = 1 )
df.head()

,İlçe,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Adalar,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,3,5,3,3
1,Arnavutköy,32,46,54,63,70,0,7,23,49,50,69,93,102,107,129,127,170,78,153
2,Ataşehir,317,382,365,444,471,0,267,135.84,164.16,175,541.93,947,871,928,899,947,954,"1,272","1,351"
3,Avcılar,124,162,182,206,202,219,236,207.76,230.49,258,302.88,368,356,347,328,379,406,172,368
4,Bahçelievler,303,324,380,505,666,695,722,733.1,809.925,"1,090",1052.07,"1,089",591,579,"1,180","1,250","1,313",728,"1,791"

In [12]:
#In this code, we're reading another csv. This csv includes all Turkey's Districts. 
df_enlem_boylam = pd.read_csv("https://gist.githubusercontent.com/abdullahoguk/ee03c26a23dca6eda9c480b4967e77b6/raw/cd6774a079b03ad9613de0e78dc9b9cbda2244de/ilce.csv")
#The first element from new dataset.
df_enlem_boylam.head(1)

,ilce_id,il_plaka,ilce_adi,lat,lon,northeast_lat,northeast_lon,southwest_lat,southwest_lon
0,1,1,ALADAĞ(KARSANTI),37.546379,35.402962,37.555225,35.418969,37.537532,35.386955

In [13]:
#We're grouped the new dataset, which plate_no (il_plaka) 34. Because Istanbul's plate no is `34`. So, after that, we're reach only Istanbul's plates no.
df_enlem_boylam = df_enlem_boylam[df_enlem_boylam.il_plaka == 34]

In [14]:
#We're grouping the data set with only `district_name, it's latitude_value, it's longtidude_value`
df_enlem_boylam = df_enlem_boylam[["ilce_adi","lat","lon"]].reset_index(drop=True)

In [15]:
#The changed new dataset is there:
df_enlem_boylam.head()

     ilce_adi        lat        lon
0      ADALAR  40.876377  29.095444
1  ARNAVUTKÖY  41.200000  28.733333
2    ATAŞEHİR  40.983333  29.116667
3     AVCILAR  41.015348  28.731462
4    BAĞCILAR  41.045556  28.840556

In [16]:
#We're adding latitude values and longtidude values to `df` dataset. This likes concat function. But we're not using concat, because its not 
#necessary for this section for me. The datasets indexes values are equal.(both name types and sorting). So there is no problem. This is
#really easy for us.

df[["lat","lon"]] = df_enlem_boylam[["lat","lon"]]

In [17]:
#The first five elements new dataset. (after adding lat & lot elements)
df.head()

,İlçe,2004,2005,2006,2007,2008,2009,2010,2011,2012,...,2015,2016,2017,2018,2019,2020,2021,2022,lat,lon
0,Adalar,0,0,0,0,0,0,0,0,0,...,0,0,1,2,3,5,3,3,40.876377,29.095444
1,Arnavutköy,32,46,54,63,70,0,7,23,49,...,93,102,107,129,127,170,78,153,41.200000,28.733333
2,Ataşehir,317,382,365,444,471,0,267,135.84,164.16,...,947,871,928,899,947,954,"1,272","1,351",40.983333,29.116667
3,Avcılar,124,162,182,206,202,219,236,207.76,230.49,...,368,356,347,328,379,406,172,368,41.015348,28.731462
4,Bahçelievler,303,324,380,505,666,695,722,733.1,809.925,...,"1,089",591,579,"1,180","1,250","1,313",728,"1,791",41.045556,28.840556

**After that, we can use this data with geographic visualization tools.
Hasan Baris GOK...**